@model Person;

@if (Model != null)
{
        <div class="list-group">
            <button class="list-group-item list-group-item-action active">
                    @Model.FirstName
                    @Model.LastName
                    @*@Model.LivesIn*@
            </button>
            @Html.ActionLink("Details","PeopleDetails","People", new {id = Model.Id})

        </div>
}
